
<div class="header-container">
			<h1>Guillaume Sabin<span class="job">developpeur web junior</span></h1>

	    <nav id="navList">
				<a id="home-link" class="navLink" href="{{ path('home') }}" title="home">
					<!-- must stay as firstchild for letter wrap -->
					<span class="links-content">Home</span>
				</a>

				<a id="portfolio-link" class="navLink" href="{{ path('portfolio') }}" title="portfolio">
					<!-- must stay as firstchild for letter wrap -->
					<span class="links-content">Portfolio</span>
				</a>

				<a id="contact-link" class="navLink" href="{{ path('contact') }}" title="contact">
					<!-- must stay as firstchild for letter wrap -->
					<span class="links-content">Contact</span>
				</a>
	    </nav>
</div>
