/* 320px */
#ws-container
{
	text-align:center;
}

.ws-container-charged
{
	background-color:white;
}


#sidebar
{
	color:white;
	background-color:#0b1013;
	width: 100%;
	text-align:center;
}

#sidebar ul
{
	margin:0;
	padding:10px 0;
}


#sidebar li
{
	margin-bottom:15px;
	font-size:17px;
	list-style-type:none;
	color:white;
}

#sidebar h2
{
	margin:0;
	padding-top:20px;
	padding-bottom:20px;
	font-family:'VT323', monospace;
	background:#e9f0f5;
	color:#0b1013;
}

#sidebar li:last-of-type
{
	margin-bottom:0;
}

.ws-link img
{
	width:80%;
	border-radius:2px;
}

.title-mobile
{
	color:#0049a5;
	font-family:'Cookie', cursive;
	font-weight:lighter;
	font-size:40px;
	margin:10px;
}

#main-container .ws-link p
{
	color:white;
	margin:10px 20px;
}

#main-container .ws-link p:last-of-type
{
	margin-bottom:50px;
	padding-bottom:20px;
	border-bottom:1px solid #e9f0f5;
}

#main-container .ws-link p span
{
	color:#0049a5;
	margin:10px;
	font-family:'Cookie', cursive;
	font-size:20px;
}

#website
{
	text-align:center;
	font-family: 'VT323', monospace;
	max-width:100%;
	position:sticky;
    z-index:-10;
}

#ws-informations
{
	visibility:hidden;
	position:absolute;
	top: 180px;
	right: 10px;
	padding:10px 20px;
	border-radius:3px;
	background: #0049a5;
	color:white;
	border:none;
	transition: all .2s;
}


#ws-informations:hover
{	
	background: #0073ff;
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

#ws-informations:disabled
{
	background-color:#CCCCCC;
	color:#8C8C8C;
}

#ws-informations:disabled:hover
{
	background:#CCCCCC;
	box-shadow:none;
}

#main-container #description p
{
	color:white;
	margin:0 20px;
	margin-bottom:30px;
}


/* 768px */
@media screen and (min-width:768px)
{
    #ws-informations
	{
		top:220px;
		right:30px;
	}  
}

/* 1024px */
@media screen and (min-width:1024px)
{
    #ws-container
		{
			margin-top:20px;
			margin-bottom:20px;
			width:85%;
			margin:0;
			position:relative;
			display:flex;
			flex-direction:column;
			justify-content:center;
		}

		#sidebar
		{
			visibility:hidden;
			position:absolute;
			transform:translateX(-200px);
			transition:none;
			width:15%;
		}

		#sidebar h2
		{
			padding-left:10px;
			display:block;
			padding-top:60px;
			margin-top:0;
			font-size:22px;
			background:#0b1013;
			color:white;
			font-family: 'VT323', monospace;
			border-left:5px solid white;
		}

		#sidebar ul
		{
			padding-top:20px;
			padding-right:25px;
			padding-bottom:50px;
			text-align: right;
		}


		#main-container #sidebar li
		{
			margin-bottom:35px;
			cursor: pointer;
			list-style-type:none;
			font-size:13px;
		}


		#sidebar li:last-of-type
		{
			margin-bottom:0;
		}


		#website
		{
			font-size:28px;
			color:grey;
			opacity:0;
			position:relative;
		}

		#website::before
		{
			font-family: 'Font Awesome\ 5 Free';
			content: "\f0a5";
			position:absolute;
			animation:hand-bounce 1.7s ease infinite;
		}

		@keyframes hand-bounce
		{
			from {
				left: 20px;
				opacity:1;
			}
			50%  {
				left: 90px;
				opacity:0;
			}
			to   {
				left: 20px;
				opacity:1;
			}
		}

		#description
		{
			background-color:#0b1013;
			box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
			color:white;
			border-radius:7px;
			width:50%;
			opacity:0;
			position:absolute;
			top:150px;
			right:400px;
			z-index:50;
			display:flex;
			flex-direction:column;
			justify-content:space-around;
		}

		#description button
		{
			margin:10px;
			background:none;
			color:white;
			border:none;
			align-self:flex-end;
		}

		.blur
		{
			filter:blur(5px);
		}

		#description p
		{
			margin:30px 15px;
			font-size:16px;
		}

		#description span
		{
			font-family: 'Cookie', cursive;
			color:#0049a5;	
			font-size:25px;
			opacity:1;
		}

		#description .title-description
		{
			font-size:45px;
		}

		#ws-informations
		{
			top:40px;
			right:40px;
		}

		#ws-informations::after
		{
			content:"Informations";
		}

		#ws-informations i
		{
			margin-right:4px;
		}

}

/* 1024px */
@media screen and (min-width:1440px)
{
	#sidebar h2
	{
		font-size:28px;
		padding-left:0px;
	}

	#sidebar li
	{
		font-size:15px;
	}

	#website
	{
		font-size:35px;
	}

	@keyframes hand-bounce
		{
			from {
				left: 40px;
				opacity:1;
			}
			50%  {
				left: 150px;
				opacity:0;
			}
			to   {
				left: 40px;
				opacity:1;
			}
		}
}