/*
 $$$$$$\   $$$$$$\   $$$$$$\
$$  __$$\ $$  __$$\ $$  __$$\
$$ /  \__|$$ /  \__|$$ /  \__|
$$ |      \$$$$$$\  \$$$$$$\
$$ |       \____$$\  \____$$\
$$ |  $$\ $$\   $$ |$$\   $$ |
\$$$$$$  |\$$$$$$  |\$$$$$$  |
 \______/  \______/  \______/


xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                        _                     _
   __ _   ___  _ __    ___  _ __  __ _ | | ___  __   __ __ _ | | _   _   ___  ___
  / _` | / _ \| '_ \  / _ \| '__|/ _` || |/ __| \ \ / // _` || || | | | / _ \/ __|
 | (_| ||  __/| | | ||  __/| |  | (_| || |\__ \  \ V /| (_| || || |_| ||  __/\__ \
  \__, | \___||_| |_| \___||_|   \__,_||_||___/   \_/  \__,_||_| \__,_| \___||___/
  |___/

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/

html
{
  box-sizing:border-box;
}


*, *:before, *:after
{
  box-sizing:inherit;
  line-height:1.5em;
}


.header-container, #main-container, #footer-container
{
    margin:0 auto;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}

p, li, a
{
	color:#0b1013;
	font-size:12px;
}


/*
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  _                       _
 | |__    ___   __ _   __| |  ___  _ __
 | '_ \  / _ \ / _` | / _` | / _ \| '__|
 | | | ||  __/| (_| || (_| ||  __/| |
 |_| |_| \___| \__,_| \__,_| \___||_|

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/

header
{
    /*background: linear-gradient(135deg, #45484d 0%,#000000 100%);*/
	z-index:100;
}

.header-container
{
	background:transparent;
	background: no-repeat center url("../img/sonic_tete.jpg");
	background-size:130%;
}


.header-container h1
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-bottom: 100px;
	margin-left:10px;
	color:white;
	font-family: 'VT323', monospace;
  	font-size:22px;
	text-align:left;
	margin-top:0;
}


.job
{
	font-style:italic;
	text-transform:uppercase;
	font-size: 30px;
	opacity:.7;
}


.header-container nav
{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
	background:rgba(255, 255, 255, .2);
}


.links-content
{
	display:none;
	transition:all .3s;
}


#home-link
{
	border-top-left-radius:5px;
}


#contact-link
{
	border-top-right-radius:5px;
}


.navLink
{
	color:white;
	width:33.33%;
	text-decoration:none;
	padding:12px 0;
}


.navLink:before
{
    font-family:'Font Awesome\ 5 Free';
    font-weight:900;
    font-size:14px;
	margin-right:5px;
    text-decoration:none;
}


.navLink:hover
{
    text-shadow:0 0 1px #FFF;
	background:rgba(0, 0, 0, .2);
}


#home-link:before
{
    content:"\f015";
}


#portfolio-link:before
{
    content:"\f11b";
}


#contact-link:before
{
    content:"\f2bb";
}


/*
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 __  __    __    ____  _  _
(  \/  )  /__\  (_  _)( \( )
 )    (  /(__)\  _)(_  )  (
(_/\/\_)(__)(__)(____)(_)\_)

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/

/* --------------------------------
	General values 
----------------------------------*/
main
{
	z-index:50;
}

#main-container.home
{
	background:#e9f0f5;
	flex-direction:column;
	align-items:flex-start;
	/*padding:10px;*/
}

#main-container
{
	position:relative;
	text-align:left;
	display:flex;
	flex-direction:column;
	align-items:center;
}

#main-container p
{
	margin:0;
}

#author-picture
{
	width:140px;
	margin-top:20px;
	margin-bottom:20px;
	border-radius:0.25em;
	box-shadow: 0 3px 0 #d7e4ed;
	border: solid 1px #0b1013;
}

#main-container li
{
	margin-bottom:7px;
	transition:all .5s;
}

#main-container.has-sidebar li:hover
{
	color:#0049a5;
}
#main-container a
{
	text-decoration:none;
	color:white;
}

.home h2
{
	color:white;
	font-family: 'VT323', monospace;
	font-size:26px;
	font-weight:lighter;
	background:#0b1013;
	padding:10px 20px;
	padding-left:50px;
}

.home article
{
	padding:0 20px;
}

.personal-description-container
{
	width:100%;
}

.personal-description-container h2
{
	margin:0;
}

.personal-description-container p::before
{
	content:"\f27a";
	font-family:'Font Awesome\ 5 Free';
    font-size:30px;
	margin-right:5px;
}

.introduction
{
	font-family: 'Cookie', cursive;
	color:#0049a5;
	font-size:25px;
}
/* --------------------------------
	/ General values 
----------------------------------*/

/* --------------------------------
	Contact starts 
----------------------------------*/
#main-container #linkedin
{
	color:#0049a5;
	font-size:20px;
}

#main-container #github
{
	color:#90e384;
	font-size:20px;
}

.fa-envelope
{
	color:#D54B3D;
}

.fa-user
{
	color:#0b1013;	
}

/* --------------------------------
	Contact ends 
----------------------------------*/

/*
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
   __                _
  / _|  ___    ___  | |_  ___  _ __
 | |_  / _ \  / _ \ | __|/ _ \| '__|
 |  _|| (_) || (_) || |_|  __/| |
 |_|   \___/  \___/  \__|\___||_|

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/


#footer-container
{
	background-color:#0b1013;
	padding:30px 0;
	z-index:100;
	color:white;
}


#footer-container span
{
	color:white;
	font-style:italic;
	opacity:.7;
	font-size:12px;
}

#footer-container p
{
	color:white;
}

#footer-container div
{
	opacity: .7;
	font-size:8px;
	text-decoration:none;
}

#footer-container a
{
	text-decoration:none;
	color:white;
	font-size:8px;
}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
_________   ________  ______
\______  \ /  _____/ /  __  \ ______  ___  ___
    /    //   __  \  >      < \____ \ \  \/  /
   /    / \  |__\  \/   --   \|  |_> > >    <
  /____/   \_____  /\______  /|   __/ /__/\_ \
                 \/        \/ |__|          \/
*/

@media screen and (min-width:768px)
{
     /*
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
     _   _  ____    __    ____   ____  ____
    ( )_( )( ___)  /__\  (  _ \ ( ___)(  _ \
     ) _ (  )__)  /(__)\  )(_) ) )__)  )   /
    (_) (_)(____)(__)(__)(____/ (____)(_)\_)

    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	*/
		.header-container
		{
			background-size:105%;
		}

		.header-container h1
		{
			font-size:30px;
			margin-left:50px;
		}

		.links-content
		{
			display:block;
			margin-top:5px;
			font-size:13px;
		}

		.navLink
		{
			padding:8px 0;
		}


    /*
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
     __  __    __    ____  _  _
    (  \/  )  /__\  (_  _)( \( )
     )    (  /(__)\  _)(_  )  (
    (_/\/\_)(__)(__)(____)(_)\_)

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	*/
	
	/* --------------------------------
		 General values 
	----------------------------------*/

	p, li, a
	{
		color:#0b1013;
		font-size:14px;
	}

	#main-container ul
	{
		font-size: 15px;
	}

	#sidebar li
	{
		margin-bottom:25px;
		font-size:15px;
	}

	#main-container.home 
	{
		align-items: center;
	}

	#main-container .personal-description-container p
	{
		max-width:90%;
	}

	.personal-description-container p::before 
	{
		margin-right:8px;
	}

	.introduction 
	{
		font-size:30px;
	}
	/* --------------------------------
		 / General values 
	----------------------------------*/

	/* --------------------------------
		 Contact starts 
	----------------------------------*/
	#author-picture
	{
		width:240px;
		margin:70px;
	}
	/* --------------------------------
		 Contact ends 
	----------------------------------*/

    /*
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
     ____  _____  _____  ____  ____  ____
    ( ___)(  _  )(  _  )(_  _)( ___)(  _ \
     )__)  )(_)(  )(_)(   )(   )__)  )   /
    (__)  (_____)(_____) (__) (____)(_)\_)

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	*/
	#footer-container div, #footer-container a
	{
		font-size:12px;
	}

}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/




/*
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

 ,-----.--.      _.---.,_      ,-----,--,   .--, .-.--,              _ __             ,-.--,
/` ` - /==/    .'  - , `.-,    | '-  -\==\  |  |=| -\==\          .-`.' ,`.  .--.-.  /=/, .'
`-'-. -|==|   / -  ,  ,_\==\   \,--, '/==/  |  `-' _|==|         /==/, -   \ \==\ -\/=/- /
    | `|==|  |     .=.   |==|     /  /==/   \     , |==|        |==| _ .=. |  \==\ `-' ,/
    | -|==|  | -  :=; : _|==|    / -/==/     `--.  -|==|        |==| , '=',|   |==|,  - |
    | `|==|  |     `=` , |==|   / -/==/          \_ |==|        |==|-  '..'   /==/   ,   \
  .-','|==|   \ _,    - /==/   / `\==\_,--,      |  \==\        |==|,  |     /==/, .--, - \
 /     \==\    `.   - .`=.`   /` -   ,/==/        \ /==/        /==/ - |     \==\- \/=/ , /
 `-----`---`     ``--'--'     `------`--`          `--`         `--`---'      `--`-'  `--`
*/

@media screen and (min-width:1024px)
{
    /*
    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
     _   _  ____    __    ____   ____  ____
    ( )_( )( ___)  /__\  (  _ \ ( ___)(  _ \
     ) _ (  )__)  /(__)\  )(_) ) )__)  )   /
    (_) (_)(____)(__)(__)(____/ (____)(_)\_)

    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    */
		.header-container
		{
			overflow:hidden;
		}

		.header-container nav
		{
			background:none;
		}

		.header-container h1
		{
			font-size:60px;
			margin-left:50px;
			margin-bottom:150px;
			opacity:0;
		}

		#navList
		{
			margin-top:150px;
			justify-content:center;
    		align-items:flex-end;
			max-width:50%;

		}

		#home-link:before, #portfolio-link:before, #contact-link:before
		{
		    content:"";
			margin-right:0;
		}

		.navLink:hover
		{
		    text-shadow:none;
			background:none;
		}

		.navLink
		{
			text-align:center;
			position:relative;
			width:10%;
			margin:0 80px;
			margin-bottom:5px;
		}


		.navItem
		{
			opacity:0;
			position:absolute;
			left:0;
			height:2px;
			width:100%;
			background-color:#fff;
			transform-origin:100% 100%;
			bottom:0;
		}


		.links-content
		{
			/*Needed for animation*/
			display:inline-block;
			font-weight:200;
  			font-size:18px;
		}
    /*
    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
     __  __    __    ____  _  _
    (  \/  )  /__\  (_  _)( \( )
     )    (  /(__)\  _)(_  )  (
    (_/\/\_)(__)(__)(____)(_)\_)

    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    */
		#main-container
		{
			text-align:left;
			display:flex;
			align-items:flex-start;
			flex-direction:row;
			margin-top:0;
		}

		.personal-description-container article
		{
			display:flex;
			justify-content:center;
		}

		.personal-description-container img
		{
			align-self:center;
			margin-right:30px;
		}

		.personal-description-container p::before 
		{
			margin-right:10px;
		}

		#main-container .personal-description-container p
		{
			margin-top:40px;
			max-width:50%;
		}

		.introduction
		{
			font-size:32px;
		}

    /*
    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
     ____  _____  _____  ____  ____  ____
    ( ___)(  _  )(  _  )(_  _)( ___)(  _ \
     )__)  )(_)(  )(_)(   )(   )__)  )   /
    (__)  (_____)(_____) (__) (____)(_)\_)

    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    */
}

@media only screen and (min-width: 1170px) 
{
	/*
	   /$$     /$$   /$$$$$$$$ /$$$$$$                     
	 /$$$$   /$$$$  |_____ $$//$$$_  $$                    
	|_  $$  |_  $$       /$$/| $$$$\ $$  /$$$$$$  /$$   /$$
	  | $$    | $$      /$$/ | $$ $$ $$ /$$__  $$|  $$ /$$/
	  | $$    | $$     /$$/  | $$\ $$$$| $$  \ $$ \  $$$$/ 
	  | $$    | $$    /$$/   | $$ \ $$$| $$  | $$  >$$  $$ 
	 /$$$$$$ /$$$$$$ /$$/    |  $$$$$$/| $$$$$$$/ /$$/\  $$
	|______/|______/|__/      \______/ | $$____/ |__/  \__/
	                                   | $$                
	                                   | $$                
	                                   |__/                                                                 
	*/

	#main-container .personal-description-container p 
	{
		margin-top:65px;
	}
}
/*
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
*/
