{# Chargement du layout #}
{% extends "Layout.twig" %}

{% block main %}
<div id="main-container" class="has-sidebar">
		<aside id="sidebar">
			<ul>
				{% for site in sites %}
					<li>
						<a href="#" id="{{ site.id }}" class="ws-link">{{ site.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</aside>

		<article class="ws-container">
			<p>Cliquez sur un des liens pour avoir un aperçu du site</p>
		</article>
</div>
{% endblock %}
