{# Chargement du layout #}
{% extends "Layout.twig" %}

{% block main %}
<div id="main-container" class="has-sidebar">
		<aside id="sidebar">
			<ul>
				<li>
					<a href="#" class="ws-link">mon site 1</a>
				</li>

				<li>
					<a href="#" class="ws-link">mon site 2</a>
				</li>

				<li>
					<a href="#" class="ws-link">mon site 3</a>
				</li>

				<li>
					<a href="#" class="ws-link">mon site 4</a>
				</li>

				<li>
					<a href="#" class="ws-link">mon site 5</a>
				</li>
			</ul>
		</aside>

		<article class="ws-container">
			<p>Cliquez sur un des liens pour avoir un aperçu du site</p>
		</article>
</div>
{% endblock %}
